#use flake "github:Tofaa2/devshells#zig" --no-write-lock-file

use flake --impure --expr '
  let
    flake = builtins.getFlake "github:Tofaa2/devshells";
    system = builtins.currentSystem;
    pkgs = flake.inputs.nixpkgs.legacyPackages.${system};
    base = flake.devShells.${system}.zig;
  in
  pkgs.mkShell {
    inputsFrom = [ base ];
    packages = with pkgs; [
      cmake
      vulkan-loader mesa
    ];
    LD_LIBRARY_PATH = pkgs.lib.makeLibraryPath [
      pkgs.vulkan-loader pkgs.mesa
    ];
  }
'